---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
import FeaturesSection from "../components/FeaturesSection.astro";
import PricingSection from "../components/PricingSection.astro";
---

<Layout title="Welcome to Astro.">
  <main class="wrapper">
    <HeroSection />
    <FeaturesSection />
    <PricingSection />
  </main>
</Layout>
