---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout title="Welcome to Astro.">
  <main class="wrapper">
    <HeroSection />
  </main>
</Layout>
