---
import ChartIcon from "../icons/ChartIcon.astro";
import ZapIcon from "../icons/ZapIcon.astro";
import ThumbsUpIcon from "../icons/ThumbsUpIcon.astro";
import TimerIcon from "../icons/TimerIcon.astro";
import HandshakeIcon from "../icons/HandshakeIcon.astro";
import BanIcon from "../icons/BanIcon.astro";
---

<section class="mt-60 grid grid-cols-3 grid-rows-2 gap-8">
  <article class="space-y-2">
    <div class="flex gap-2 items-center">
      <ChartIcon class="text-primary/80 size-6" />
      <h3 class="font-medium">Stay organized</h3>
    </div>
    <p class="text-muted-foreground">
      Sync tokens from multiple sources to one repository, extract them in any
      structure using our SDK, GitHub integration, or CLI. We got you covered
      once you want to scale.
    </p>
  </article>

  <article class="space-y-2">
    <div class="flex gap-2 items-center">
      <ZapIcon class="text-primary/80 size-6" />
      <h3 class="font-medium">Automate</h3>
    </div>
    <p class="text-muted-foreground">
      Automatically sync, convert, and optimize your design tokens and vectors.
      Set up automated pull request with our Github integration.
    </p>
  </article>

  <article class="space-y-2">
    <div class="flex gap-2 items-center">
      <ThumbsUpIcon class="text-primary/80 size-6" />
      <h3 class="font-medium">Prioritize quality</h3>
    </div>
    <p class="text-muted-foreground">
      When you’re able to put quality above anything else, it means your
      processes are well adopted. We can help you to prioritize the quality of
      your digital products.
    </p>
  </article>

  <article class="space-y-2">
    <div class="flex gap-2 items-center">
      <TimerIcon class="text-primary/80 size-6" />
      <h3 class="font-medium">Save time</h3>
    </div>
    <p class="text-muted-foreground">
      Set up once, get benefits instantly. We guarantee time savings for you
      design and development teams while you keep doing what you’re good at and
      what you enjoy.
    </p>
  </article>

  <article class="space-y-2">
    <div class="flex gap-2 items-center">
      <HandshakeIcon class="text-primary/80 size-6" />
      <h3 class="font-medium">Get the support you need</h3>
    </div>
    <p class="text-muted-foreground">
      We're here to help you to get the output you need. Feel free to challenge
      us if you think your output is not possible to generate!
    </p>
  </article>

  <article class="space-y-2">
    <div class="flex gap-2 items-center">
      <BanIcon class="text-primary/80 size-6" />
      <h3 class="font-medium">Reduce error margins</h3>
    </div>
    <p class="text-muted-foreground">
      Collaboration has never been easier, resulting in less errors and
      redundant meetings. Any change made is easily transferred and communicated
      with other teams.
    </p>
  </article>
</section>
