---
import Button from "./Button.astro";
import { Reveal } from "./Reveal.tsx";
---

<Reveal client:load>
  <section class="mt-16 flex flex-col items-center text-center gap-6 lg:gap-8">
    <div class="space-y-2 lg:space-y-4 grid place-items-center">
      <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold max-w-[20ch]">
        Elevate Your Barbershop to the <span
          class="bg-gradient-to-r from-pink-200 to-primary text-transparent bg-clip-text"
          >Next Level</span
        >
      </h1>
      <p class="text-base md:text-lg lg:text-xl text-white/70 max-w-[50ch]">
        Take control of your appointments, finances, and team with our powerful
        and intuitive admin dashboard.
      </p>
    </div>
    <div class="space-x-2">
      <Button variant="primary" size="medium">Get started now</Button>
      <Button variant="secondary" size="medium">Free live demo</Button>
    </div>

    <img
      src="./hero-img.webp"
      alt="Image of the software"
      class="aspect-video bg-card w-full rounded-lg mt-8 md:mt-12 lg:mt-16 object-cover"
    />
  </section>
</Reveal>
