---
import PricingCard from "./PricingCard.astro";
import { Reveal } from "./Reveal.tsx";

const startUpFeatures = [
  {
    title: "Fast and reliable",
    description: "We've made it fast and reliable.",
  },
  {
    title: "Fast and reliable",
    description: "We've made it fast and reliable.",
  },
  {
    title: "Fast and reliable",
    description: "We've made it fast and reliable.",
  },
];

const businessFeatures = [
  {
    title: "Fast and reliable",
    description: "We've made it fast and reliable.",
  },
  {
    title: "Fast and reliable",
    description: "We've made it fast and reliable.",
  },
  {
    title: "Fast and reliable",
    description: "We've made it fast and reliable.",
  },
  {
    title: "Fast and reliable",
    description: "We've made it fast and reliable.",
  },
];

const proFeatures = [
  {
    title: "Fast and reliable",
    description: "We've made it fast and reliable.",
  },
  {
    title: "Fast and reliable",
    description: "We've made it fast and reliable.",
  },
  {
    title: "Fast and reliable",
    description: "We've made it fast and reliable.",
  },
  {
    title: "Fast and reliable",
    description: "We've made it fast and reliable.",
  },
  {
    title: "Fast and reliable",
    description: "We've made it fast and reliable.",
  },
];
---

<Reveal client:load>
  <Fragment>
    <h2 class="mt-48 mb-16 text-center text-4xl font-bold" id="pricing">
      Pricing
    </h2>

    <section class="flex flex-col lg:flex-row justify-between gap-8">
      <PricingCard
        title="Startup"
        description="Our goal is to streamline SMB trade, making it easier and faster than ever for everyone and everywhere."
        price="25"
        features={startUpFeatures}
        buttonLabel="Sign up now"
      />
      <PricingCard
        title="Business"
        description="Our goal is to streamline SMB trade, making it easier and faster than ever for everyone and everywhere."
        price="40"
        features={businessFeatures}
        buttonLabel="Sign up now"
        isHighlighted
      />
      <PricingCard
        title="Pro"
        description="Our goal is to streamline SMB trade, making it easier and faster than ever for everyone and everywhere."
        price="65"
        features={proFeatures}
        buttonLabel="Sign up now"
      />
    </section>
  </Fragment>
</Reveal>
